<div class="p-5">
    <h4 class="mb-5 fw-bolder">Calculadora estándar</h4>
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Número 1</span>
        </div>
        <app-input class="form-control" [(ngModel)]="num1" (result)="addNumber($event, 0)"></app-input>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Número 2</span>
        </div>
        <app-input class="form-control" [(ngModel)]="num2" (result)="addNumber($event,1)"></app-input>
    </div>

    <div>
        <div>
            <app-btn class="form-control" op="+" [numbers]="numbers" (result)="getResultado($event)"></app-btn>
            <app-btn class="form-control" op="-" [numbers]="numbers" (result)="getResultado($event)"></app-btn>
            <app-btn class="form-control" op="*" [numbers]="numbers" (result)="getResultado($event)"></app-btn>
            <app-btn class="form-control" op="/" [numbers]="numbers" (result)="getResultado($event)"></app-btn>
        </div>
        
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend"> 
        </div>
        <input type="text" class="form-control" placeholder="Resultado" disabled value="{{result}}">
        <button class="btn btn-danger" (click)="borrar()">Borrar todo</button>
    </div>
</div>