<table class="table">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Email</th>
      <th scope="col">Fecha</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of contenido">
      <th scope="row">{{item.id}}</th>
      <td>{{item.nombre}}</td>
      <td>{{item.apellido}}</td>
      <td>{{item.email}}</td>
      <td>{{item.createAt}}</td>
    </tr>
  
</table>
