<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<footer class="bg-dark rounded-top text-center" style="position: absolute;bottom: 0px; height: 60px;width:100%;">
  <div class="container py-2">
    <p class="text-white my-2">

      &copy; THIS IS REAL MADRID STAIDUM
    </p>

  </div>
</footer>

</body>
</html>
