<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Bandera</th>
      <th>Pais</th>
      <th>Region</th>
      <th>Capital</th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let item of paises; let i = index">
      <td>{{ i+1 }}</td>
      <td>
        <img style="width: 50px;" [src]="item.flags.png" alt="">
      </td>
      <h2>upercase y lowecase</h2>
      
      <td>{{item.name.common}}</td>
      <td>{{item.population | number}}</td>
      <td>
        <!-- si pulsamos el ver una vez buscado el pais te tienes que que redireccionar a ver pais -->
        <a [routerLink]="['/pais',item.cca2]">Ver...</a>
      </td>
    </tr>
  </tbody>


</table>
